<h3>Injection example</h3>

<section class="card">
  <div class="card-content">
    <span class="card-title">Example 1: URL</span>
    <p>URL: {{$ctrl.url}}</p>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <span class="card-title">Example 2: Interval</span>
    <p>Inbox <span class="new badge">{{$ctrl.counter}}</span></p>
  </div>
</section>
