<section class="card">
  <div class="component-marker">
    OrderList
  </div>
  <div class="card-content">
    <div class="card-title">Choose an order using buttons above</div>
    <ul class="collection">
      <li class="collection-item" ng-repeat="o in $ctrl.orders">
        <a href="#" class="collection-item"
                    ng-click="$ctrl.select(o)">
          {{o.id}} : {{o.customer}}
        </a>
      </li>
    </ul>
  </div>
</section>
