<div class="row">
  <div class="col s6">
    <p ng-repeat="person in $ctrl.employees | filter:$ctrl.searchTerm | orderBy: $ctrl.orderProp">{{ person.last_name }}, {{ person.first_name }}</p>
  </div>
  <div class="col s6">
    <pre>{{ $ctrl.employees | filter:$ctrl.searchTerm | orderBy: $ctrl.orderProp | json}}</pre>
  </div>
</div>
