<section class="card">
  <div class="component-marker">
    AppComponent
  </div>
  <div class="card-content">
    <div class="card-title">Order Management Application</div>
    <div class=row>
      <div class="col s12">
        <button class="btn" ng-click="$ctrl.choose(0)">Choose First Order</button>
        <button class="btn" ng-click="$ctrl.choose(1)">Choose Second Order</button>
      </div>
    </div>
    <div class="row">
      <order-list class="col s6" orders="$ctrl.orderList"></order-list>
      <order-details class="col s6" selected-order-details="$ctrl.selectedOrder"></order-details>
    </div>
  </div>
</section>
