<section class="card">
  <div class="card-content">
    <span class="card-title">Zip Code Westerliness Check</span>

    <form name="$ctrl.form" novalidate>
      <p>Examples: NYC 10007, San Diego 92121</p>

      <div style="width: 250px">
        <label for="zip">ZIP Code:</label>
        <input id="zip" type="text" ng-model="$ctrl.zip" name="zip" western-zip>
        <b ng-show="$ctrl.form.zip.$pending.westernZip">Checking if ZIP code is western...</b>
        <b ng-show="$ctrl.form.zip.$error.westernZip">ZIP code is not west enough.</b>
      </div>
      <div>
        <p>Model value: {{$ctrl.zip}}</p>
      </div>
    </form>

  </div>
</section>
