<h3>Let's play cards!</h3>
<person-display></person-display>

<h3>Using a component from another module</h3>
<wrapper-card>
  <p>The following transcluded content uses a component from yet another
    module
  </p>
  <math-widget></math-widget>
</wrapper-card>
