<section class="card">
  <div class="card-content">
    <span class="card-title">Name, 3 ways</span>
    <p>Name: {{$ctrl.name}}</p>
    <p>Name: <span class="data">{{$ctrl.name}}</span></p>
    <p>Name: <span ng-bind="$ctrl.name">example text</span></p>
    <input ng-model="$ctrl.name">
  </div>
</section>

<section class="card">
  <div class="card-content">
    <span class="card-title">Company Name: {{$ctrl.company}}</span>
    <input ng-model="$ctrl.company">
  </div>
</section>

<section class="card">
  <div class="card-content">
    <abc-my-new-thing></abc-my-new-thing>
  </div>
</section>

