<header style="margin-top: 5px;">
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left">
        <li><a href="#!/welcome">Welcome</a></li>
        <li><a href="#!/countries">Country List</a></li>
      </ul>
    </div>
  </nav>
</header>

<ng-view></ng-view>
