<section class="card">
  <div class="card-content">
    <span class="card-title">Look at the console and source code, then click</span>

    <button ng-click="$ctrl.go1()">GO1</button>
    <button ng-click="$ctrl.go2()">GO2</button>
    <button ng-click="$ctrl.stop1()">STOP1</button>

  </div>
</section>
