<section class="card">
  <span class="component-marker">AppComponent</span>
  <div class="card-content">
    <div class="card-title">Order Management Application</div>
    <div class="row">

      <order-list class="col s6"
          select-order="$ctrl.setOrder(event)"
          orders="$ctrl.orderList"></order-list>

      <order-details class="col s6"
          selected-order-details="$ctrl.selectedOrder"></order-details>

    </div>
  </div>
</section>
