<header style="margin-top: 5px;">
  <nav>
    <div class="nav-wrapper">
      <ul>
        <li>
          <a ng-href="#!/countries">Countries</a>
        </li>
        <li>
          <a ng-href="#!/flags">Flag Viewer</a>
        </li>
      </ul>
    </div>
  </nav>
  <hr>
</header>

<section class="card">
  <div class="card-content">
    <div class="view-container">
      <ng-view class="view-frame"></ng-view>
    </div>
  </div>
</section>
