/* app css stylesheet */

body {
  padding-top: 20px;
}

.countries {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 0.5em 0;
  padding-bottom: 1em;
  height: 66px;
  width: 100px;
}

.countries li {
  clear: both;
  height: 75px;
  padding-top: 15px;
}

/** Flag Viewer **/
.country-images {
  background-color: white;
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

img.country {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 0;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: none;
}

img.country:first-child {
  display: block;
}


ul.country-thumbs {
  margin: 0;
  list-style: none;
  height: 300px;
  overflow-y: scroll;
}

ul.country-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.country-thumbs img {
  height: 100px;
  width: 150px;
  padding: 1em;
}

ul.country-thumbs img:hover {
  cursor: pointer;
}
