<section class="card" ng-if="!$ctrl.countryDetails">
  <div class="card-content">
    <span class="card-title">Details loading for
      <span>{{$ctrl.countryCode}}</span>!</span>
  </div>
</section>


<section class="card horizontal" ng-if="$ctrl.countryDetails">
  <div class="card-image">
    <img ng-src="../demo-data/flags/{{$ctrl.country.code | lowercase}}.png" class="flag">
  </div>
  <div class="card-stacked">

    <div class="card-content">
      <span class="card-title">{{$ctrl.countryDetails.countryName}}</span>
      <p>Capital: {{$ctrl.countryDetails.capital}}</p>
      <p>Continent: {{$ctrl.countryDetails.continentName}}</p>
      <p>Area (sq.km.): {{$ctrl.countryDetails.areaInSqKm}}</p>
    </div>
  </div>
</section>
