<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Templating with a Controller</title>
    <link rel="stylesheet" href="../lib/style.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <div class="brand-logo left">
          <a href="https://angularbootcamp.com"></a>
          <span>Templating with a Controller</span>
        </div>
        <ul class="right">
          <li>
            <a target="_blank" href="https://docs.angularjs.org/guide/databinding">data binding docs</a>
          </li>
          <li><a href="../">Lesson List</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">

      <section class="card" ng-controller="SomeController as sc">
        <div class="card-content">
          <span class="card-title">Name, 3 ways</span>
          <p>Name: {{sc.name}}</p>
          <p>Name: <span class="data">{{sc.name}}</span></p>
          <p>Name: <span ng-bind="sc.name">example text</span></p>
        </div>
      </section>

      <section class="card" ng-controller="AnotherController as ac">
        <div class="card-content">
          <span class="card-title">Company Name: {{ac.company}}</span>
          <p>Name: {{sc.name}}</p>
          <input ng-model="ac.company">
        </div>
      </section>
    </div>

    <script src="../lib/angular.js"></script>
    <script src="app.module.js"></script>
  </body>
</html>
