<header style="margin-top: 5px;">
  <nav>
    <div class="nav-wrapper">
      <ul>
        <li><a ng-href="#!/email">Email</a></li>
        <li><a ng-href="#!/help">Help</a></li>
      </ul>
    </div>
  </nav>
  <hr>
</header>

<ng-view></ng-view>

<footer>
  <hr>
  Footer text
</footer>
