<section class="card">
  <div class="card-content">
    <span class="title">Country List</span>
    <ul class="collection">
      <li class="collection-item avatar" ng-repeat="c in $ctrl.countryList">
        <!-- What happens with plain src? -->
        <img class="circle" src="../demo-data/phone-images/dell-streak-7.0.jpg"
          ng-src="../demo-data/flags/{{c.something | lowercase}}.png">
        <span class="card-title">{{c.countryName}}</span>
      </li>
    </ul>
  </div>
</section>
