<section class="card">
  <div class="card-content">

    <input style="width:40px" ng-model="$ctrl.sharedValues.a"> +
    <input style="width:40px" ng-model="$ctrl.values.b">
    = <span ng-bind="$ctrl.add()"></span>

  </div>
</section>
