<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>More Dependency Injection</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.css">
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <p><a href="https://docs.angularjs.org/guide/di">orderBy docs</a></p>
    <div ng-controller="AController as ac">
      <h1>AController</h1>
      <div>URL: {{ac.url}}</div>
      <div>Counter: {{ac.counter}}</div>
    </div>
    <div ng-controller="BController as bc">
      <h1>BController</h1>
      <div>URL: {{bc.url}}</div>
      <div>Counter: {{bc.counter}}</div>
    </div>
    <div ng-controller="CController as cc">
      <h1>CController</h1>
      <div>URL: {{cc.url}}</div>
      <div>Counter: {{cc.counter}}</div>
    </div>

    <script src="../lib/angular.js"></script>
    <script src="app.module.js"></script>
    <script src="exampleA.js"></script>
    <script src="exampleB.js"></script>
    <script src="exampleC.js"></script>
  </body>
</html>
