<header style="margin-top: 5px;">
  <nav>
    <div class="nav-wrapper">
      <ul>
        <li>
          <a ng-href="#!/home">Home</a>
        </li>
        <li>
          <a ng-href="#!/hello">Hello</a>
        </li>
        <li>
          <a ng-href="#!/newView">New View</a>
        </li>
      </ul>
    </div>
  </nav>
  <hr>
</header>

<ng-view></ng-view>

<footer>
  <hr> Footer text
</footer>
