<p>Tab set:</p>
<ul class="tabs">
  <li ng-repeat="pane in $ctrl.panes" class="tab col s3">
    <a href="" ng-class="{ active: pane.selected }" ng-click="$ctrl.select(pane)">{{pane.title}}</a>
  </li>
</ul>
<div class="tab-content" ng-transclude></div>
