<p>Choose which implementation(s) to show</p>

<div>
  <input type="checkbox" id="showPromise" ng-model="$ctrl.showPromise">
  <label for="showPromise">Promise implementation</label>
</div>

<div>
  <input type="checkbox" id="showRxjs" ng-model="$ctrl.showRxjs">
  <label for="showRxjs">RxJS implementation</label>
</div>

<div>
  <input type="checkbox" id="showRxjsFilter" ng-model="$ctrl.showRxjsFilter">
  <label for="showRxjsFilter">RxJS+Filter implementation</label>
</div>

<div ng-if="$ctrl.showPromise">
  <employee-list-promise></employee-list-promise>
</div>

<div ng-if="$ctrl.showRxjs">
  <employee-list-rxjs></employee-list-rxjs>
</div>

<div ng-if="$ctrl.showRxjsFilter">
  <employee-list-rxjs-filter></employee-list-rxjs-filter>
</div>
