<div class="country-images">
  <img ng-src="../demo-data/flags/{{code | lowercase}}.png" class="country" ng-repeat="code in $ctrl.codes"
    ng-class="{active: $ctrl.selectedCode==code}">
</div>
<hr>
<ul class="country-thumbs">
  <li ng-repeat="code in $ctrl.codes">
    <img ng-src="../demo-data/flags/{{code | lowercase}}.png" ng-click="$ctrl.select(code)">
  </li>
</ul>
