<div class="simple-card">
  <div class="component-marker">
    EmailScreenComponent
  </div>

  <div class="row">
    <div class="col s4">
      <folder-list></folder-list>
    </div>
    <div class="col s8">
      <message-display></message-display>
    </div>
  </div>
</div>
