<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Kyle's example</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.css">
  </head>
  <body>
    <p>(no obvious relevant doc page)</p>

    <div ng-controller="TopCtrl as tc" class="container">

      <input ng-model="tc.a">
      <input ng-model="tc.b">
      {{ tc.total }}

      <h1>{{tc.title()}}</h1>
    </div>

    <script src="../lib/angular.js"></script>
    <script src="app.module.js"></script>
  </body>
</html>
