<div class="container-fluid">
  <div class="row">
    <div class="col s4">

      <p>Search: <input ng-model="$ctrl.query"></p>
      <p>Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="countryName">Alphabetical</option>
          <option value="-areaInSqKm">Size</option>
          <option value="-population">Population</option>
        </select>
      </p>

    </div>
    <div class="col s8">
      <ul class="countries">
        <li ng-repeat="country in $ctrl.countries | filter:$ctrl.query | orderBy:$ctrl.orderProp"
          class="country-listing">
          <a ng-href="#!/country/{{country.id}}" class="thumb">
            <img class="responsive-img" ng-src="../demo-data/flags/{{country.countryCode | lowercase}}.png">
          </a>
          <a ng-href="#!/country/{{country.id}}">{{country.countryName}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
