<section class="card">
  <div class="card-content">
    <h3>Start Here</h3>
    <button ng-click="$ctrl.go1()">GO1</button>
    <button ng-click="$ctrl.stop()">STOP1</button>

    <h3>Success:</h3>
    <p ng-bind="$ctrl.message"></p>

    <h3>Errors:</h3>
    <pre ng-bind="$ctrl.oops | json"></pre>
  </div>
</section>
