<section class="card">
  <div class="card-content">
    <span class="card-title">Message Boxes</span>

    <message-box title="message 1" msg="hello">
    </message-box>

    <message-box title="message 2" msg="I am a {{'vital' + ' message'}}">
    </message-box>

  </div>
</section>
