  <section class="card">
    <div class="component-marker">
      OrderItems
    </div>
    <div class="card-content">
      <div class="card-title">Order Items</div>
      <ul class="collection">
        <li class="collection-item" ng-repeat="item in $ctrl.items">
          {{item.quantity}}:
          {{item.description}}</li>
      </ul>
    </div>
  </section>
