<header style="margin-top: 5px;">
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left">
        <li><a href="#!/blue">blue</a></li>
        <li><a href="#!/bLUe">bLUe</a></li>
        <li><a href="#!/red">red</a></li>
        <li><a href="#!/rED">rED</a></li>
        <li><a href="#!/yellow/27">yellow/27</a></li>
        <li><a href="#!/green">green</</li>
      </ul>
    </div>
  </nav>
</header>
<nav style="margin-top: 5px;">
  <div class="nav-wrapper">
    <div class="col s12">
      <a>Current Route ></a>
      <a>{{$ctrl.getTitle()}}</a>
    </div>
  </div>
</nav>
