<section class="card">
  <div class="card-content">
    <span class="card-title">Movie list</span>

    <p>Beware of Chrome mixed-content AJAX restrictions</p>

    <ul class="collection">
      <li class="collection-item" ng-repeat="p in $ctrl.people.results">{{ p.name }}: <small>{{ p.filmNames.join(' / ')}}</small></li>
    </ul>

  </div>
</section>
