<section class="card">
  <div class="card-content">
    <span class="card-title">Result</span>

    <pre ng-bind="$ctrl.answer | json"></pre>

  </div>
</section>

<section class="card">
  <div class="card-content">
    <span class="card-title">Error</span>

    <pre ng-bind="$ctrl.err | json"></pre>

  </div>
</section>
