<div class="card horizontal">
  <div class="card-image">
    <img ng-src="../demo-data/flags/{{$ctrl.country.code | lowercase}}.png" class="flag">
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <span class="card-title">
        {{$ctrl.country.name}}
      </span>
      <p>Capital: {{$ctrl.country.capital | reverse}}</p>
      <p>Largest City: {{$ctrl.country.largest_city | initials}}</p>
      <p>Area (sq.mi.): {{$ctrl.country.area_sq_mi | number}}</p>
      <p>GDP (total): {{$ctrl.country.gdp.total | trillionDollar}}</p>
      <p>GDP (per capita): {{$ctrl.country.gdp.per_capita | currency:$:2}}</p>
      <p>Top-level Domains: {{$ctrl.country.internet_tld | oxfordComma}}</p>
      <p>Addition: {{3 | add:5 }}</p>
    </div>
  </div>
</div>
