@import 'css/materialize.css';

/* Google Material Icons */
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(googlefonts.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* Eng Google Material Icons */

html {
  color: #212121;
}

body {
  background-color: #efefef;
}

select {
  display: inherit;
}

.btn {
  color: white;
  background-color: #2196F3
}

.btn:hover {
  background-color: #1976D2;
}

.btn-floating {
  background-color: #ff5252
}

.btn-floating:hover {
  background-color: #d50000
}

.simple-card {
  border: 1px solid #B6B6B6;
  padding: 3px;
  margin: 3px
}

.component-marker {
  color: #fff;
  height: 26px;
  font-size: 15px;
  line-height: 26px;
  padding: 0 9px;
  border-radius: 12px;
  background-color: #ff5252;
  float: right;
  transform: translate(8px, -8px);
}

/* Navbar content */

nav {
  height: 64px;
  line-height: 64px;
}

.nav-wrapper {
  background-color: #2196F3;
}

.brand-logo {
  /* Solid background that fades to transparent on the right edge */
  background: linear-gradient(to right, #2196F3 90%, rgba(33,150,243,0));
  margin-left: 10px;
}

.brand-logo > a {
  background: url(logo.png) no-repeat;
  position: absolute;
  background-size: 100% 100%;
  height: 45px;
  width: 134px;
  padding-left: 10px;
  margin-top: 7px;
}

.brand-logo > span {
  margin-left: 157px;
  margin-right: 50px; /* Add room for the fade to transparent */
  font-size: 24px;
  line-height: 64px;
}
.brand-logo {
  height: 45px;
}
/* End Navbar Content */

a.btn-floating {
  float: right;
}

.green-background {
  background-color: green;
}

.highlight {
  font-weight: bold;
  color: red;
}

.highlight2 {
  font-weight: bold;
  color: green;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
