<section class="card">
  <div class="card-content">
    <span class="card-title">Change the text</span>
    <label for="changeme">Change me:</label>
    <input id="changeme" ng-model="$ctrl.address">
    <p>Resulting text: {{$ctrl.address}}</p>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <span class="card-title">Experiments</span>
    <input id="ifcheck" type="checkbox" ng-model="$ctrl.ngIf"><label for="ifcheck"> ngIf (produce DOM)</label>
    <input id="showcheck" type="checkbox" ng-model="$ctrl.ngShow"><label for="showcheck">ngShow (render to screen)</label>
    <div ng-if="$ctrl.ngIf" ng-show="$ctrl.ngShow">
      <!-- Try :: -->
      <span ng-repeat="x in $ctrl.boxes">
        <span ng-bind="$ctrl.address"></span>
      </span>
    </div>
  </div>
</section>
