<h4>Interact Below to Change the appearance</h4>
<button class="btn" ng-click="$ctrl.increment()">Add One</button>
<p>n = {{$ctrl.n}}</p>

<h2>Results</h2>

<div class="row">
  <div class="col s6">
    <div class="card"
      ng-class="{ 'round-border': $ctrl.n > 7, 'extra-class': $ctrl.n < 3 }"
      ng-style="{ width: ($ctrl.n * 10 + 250) + 'px', height: $ctrl.n + 12 + 'em'}">
        <div class="card-content">
          <div class="card-title">Class and Style Binding</div>
          I change appearance based upon the number of clicks!
          <p ng-hide="$ctrl.n==6">N is not 6</p>
        </div>
    </div>
  </div>

  <div class="col s6">
    <div class="card"
      ng-class="$ctrl.classFor($ctrl.n)">
      <div class="card-content">
        <div class="card-title">ngClass with a function</div>
        I change appearance based upon the number of clicks!
      </div>
    </div>
  </div>

</div>

<style>
  .round-border {
    border-radius: 15px;
    border: 1px solid black;
  }

  .extra-class {
    background-color: gray;
  }

  .hidden {
    display: none !important;
  }
</style>
