<section class="card">
  <div class="card-content">
    <span class="card-title">How does angular know about these changes?</span>
    <label for="changeme">Change me:</label>
    <input id="changeme" ng-model="$ctrl.address">
    <button ng-click="$ctrl.foo()">Reset Address</button>
    <p>Resulting Address: {{$ctrl.address}}</p>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <span class="card-title">See the console for how many times this has been calculated</span>
    <p>count = {{$ctrl.count()}}</p>
  </div>
</section>
