<section class="card">
  <div class="card-content">
    <span class="card-title">Greeting List</span>
    <p>Greeting: {{$ctrl.greeting1}}</p>
    <p>Greeting: {{$ctrl.greeting2}}</p>
    <p>Greeting: {{$ctrl.greeting3}}</p>
    <p>URL: {{$ctrl.url}}</p>
    <p>Number: {{$ctrl.n}}</p>
  </div>
</section>
