<!doctype html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Preparation and Introduction</title>
    <link rel="stylesheet" href="../lib/style.css">
      <script src="../lib/angular.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <div class="brand-logo left">
          <a href="https://angularbootcamp.com"></a>
          <span>Preparation and Introduction</span>
        </div>
        <ul class="right">
          <li><a href="../">Lesson List</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h3>Preparation and Introduction</h3>
      <p>This step contains preparation and introduction information. See
        the included file and the information which your instructor will
        present.
      </p>

      <p>How does {{'AngularJS ' + 'work?'}}</p>

    </div>
  </body>
</html>
