<section class="card">
  <div class="card-content">
    <span class="card-title">Components Sharing a Stateful Service</span>

    <button ng-click="$ctrl.start()">start</button>
    <button ng-click="$ctrl.stop()">stop</button>

  </div>
</section>

<div class="row">
  <div class="col m4">
    <add-numbers></add-numbers>
  </div>

  <div class="col m4">
    <add-numbers></add-numbers>
  </div>

  <div class="col m4">
    <add-numbers></add-numbers>
  </div>
</div>
