<section class="card">
  <div class="card-content">
    <span class="card-title">Postal code search</span>

    <input ng-model="pcode" ng-change="$ctrl.getPlaceDetails(pcode)">

    <table>
      <tr ng-repeat="(key, value) in $ctrl.locationDetails">
        <td> {{ key }} </td>
        <td> {{ value }} </td>
      </tr>
    </table>
  </div>
</section>
