<wrapper>
  <header>
    This is the transcluded header
  </header>
  <content>This is an example of a paragraph rambling on pointlessly for many words
    with no punctuation or any other helpful pacing as its only purpose
    was to use up space on the screen and in the mind without producing
    any value whatsover.</content>
</wrapper>

<wrapper>
  <content>
    <p>This paragraph is short and to the point, which is that it is just
      filler.</p>
  </content>
</wrapper>
