<section class="card">
  <div class="card-content">
    <span class="card-title"> Debounced Input:</span>
    <input type="text" ng-model="$ctrl.debouncedModel" ng-model-options="{debounce: 1000}">
    <span ng-bind="'Output: ' + $ctrl.debouncedModel"></span>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <span class="card-title"> Update on Blur Input:</span>
    <input type="text" ng-model="$ctrl.onBlurModel" ng-model-options="{updateOn: 'blur'}">
    <span ng-bind="'Output: ' + $ctrl.onBlurModel"></span>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <span class="card-title"> Update on Mouseover Input:</span>
    <input type="text" ng-model="$ctrl.onMouseoverModel" ng-model-options="{updateOn: 'mouseover'}">
    <span ng-bind="'Output: ' + $ctrl.onMouseoverModel"></span>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <span class="card-title"> Email Default Settings Input:</span>
    <input type="email" ng-model="$ctrl.defaultEmail">
    <span ng-bind="'Output: ' + $ctrl.defaultEmail"></span>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <span class="card-title"> Email Allow Invalid Input:</span>
    <input type="email" ng-model="$ctrl.invalidEmail" ng-model-options="{allowInvalid: true}">
    <span ng-bind="'Output: ' + $ctrl.invalidEmail"></span>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <span class="card-title"> Getter/Setter Input:</span>
    <input type="text" ng-model="$ctrl.getSet" ng-model-options="{getterSetter: true}">
    <span ng-bind="'Output: ' + $ctrl.getSet()"></span>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <span class="card-title"> Arbitrarily Combine Options Input</span>
    <p>(debounced, update on mouseover):</p>
    <input type="email" ng-model="$ctrl.combined" ng-model-options="{allowInvalid: true, debounce: 500, updateOn: 'mouseover'}">
    <span ng-bind="'Output: ' + $ctrl.combined"></span>
  </div>
</section>
