<section class="card">
  <div class="card-content">
    <span class="card-title">Cookie Clicker!</span>
    <button ng-click="$ctrl.start()" class="btn primary">Start</button>
    <div class="center-align" style="user-select:none">
      <h1>{{$ctrl.message}}</h1>
      <div ng-if="$ctrl.cookieVisible" ng-click="$ctrl.clickCookie()" class="cookie">
      </div>
    </div>
</section>
