<section class="card">
  <div class="card-content">
    <span class="card-title">ng-bind (treat HTML data string as text)</span>
    <p ng-bind="$ctrl.unsafeHtml"></p>
    <p ng-bind="$ctrl.sanitized"></p>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <span class="card-title">ng-bind-html (treat HTML data string as HTML)</span>
    <p>Potentially unsafe attributes, such as "onmouseover", "ng-click", "style", etc. were removed from the following</p>
    <p ng-bind-html="$ctrl.unsafeHtml"></p>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <span class="card-title">$sce.trustAsHtml (treat HTML data string as HTML, no sanitization)</span>
    <p ng-bind-html="$ctrl.trustedHtml"></p>
  </div>
</section>
