<section class="card">
  <div class="card-content">
    <span class="title">New user creation form</span>
    <form name="$ctrl.userForm" novalidate>
      <div class="row">
        <div class="col s3">
          <label for="uFirstName">First name:</label>
          <input id="uFirstName" name="uFirstName" ng-model="$ctrl.user.first" required>
          <div style="color: red" ng-show="($ctrl.userForm.$submitted || $ctrl.userForm.uFirstName.$touched) && $ctrl.userForm.uFirstName.$error.required">
            Please enter a first name.
          </div>
        </div>
        <div class="col s3">
          <label for="uLastName">Last name:</label>
          <input id="uLastName" name="uLastName" ng-model="$ctrl.user.last" required>
          <div style="color: red" ng-show="$ctrl.userForm.uLastName.$touched && $ctrl.userForm.uLastName.$error.required">
            Please enter a last name.
          </div>
        </div>
        <div class="col s3">
          <label for="uEmail">Email:</label>
          <input id="uEmail" name="uEmail" type="email" ng-model="$ctrl.user.email" required
            ng-minlength="5" ng-maxlength="20">
            <div ng-show="($ctrl.userForm.$submitted || $ctrl.userForm.uEmail.$touched)">
              <div ng-messages="$ctrl.userForm.uEmail.$error" style="color:maroon" role="alert">
                <!-- Only one message is displayed, order matters -->
                <div ng-message="required">Please enter an email.</div>
                <div ng-message="email">Please enter a valid email address.</div>
                <div ng-message="minlength">Your email is too short.</div>
                <div ng-message="maxlength">Your email is too long</div>
              </div>
            </div>
        </div>
        <div class="col s3">
          <label for="uAge">Age:</label>
          <input id="uAge" name="uAge" type="number" ng-model="$ctrl.user.age" min="18" required>
          <div style="color: red" ng-show="$ctrl.userForm.uAge.$touched && $ctrl.userForm.uAge.$error.required">
            Please enter your age.
          </div>
          <div style="color: red" ng-show="$ctrl.userForm.uAge.$touched && $ctrl.userForm.uAge.$error.min">
            Must be at least 18.
          </div>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary" ng-disabled="$ctrl.userForm.$invalid" type="submit"
          ng-click="$ctrl.submit($ctrl.userForm)">Submit</button>
      </div>
    </form>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <span class="title">Underlying Form Object</span>
    <pre ng-bind="$ctrl.userForm | json"></pre>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <span class="title" ng-bind="$ctrl.label"></span>
    <form>
      <div class="row">
        <div class="col s4">
          <label for="street">Street</label>
          <input ng-model="$ctrl.address.street" id="street" type="text" class="validate">
        </div>
        <div class="col s4">
          <label for="city">City</label>
          <input ng-model="$ctrl.address.city" id="city" type="text" class="validate">
        </div>
        <div class="col s4">
          <label for="state">State</label>
          <input ng-model="$ctrl.address.state" id="state" type="text" class="validate">
        </div>
      </div>
    </form>
  </div>
</section>
