<div class="card horizontal">
  <div class="card-image">
    <img ng-src="../demo-data/flags/{{$ctrl.country.code | lowercase}}.png" class="flag">
  </div>
  <div class="card-stacked">

    <div class="card-content">
      <span class="card-title">{{$ctrl.country.name}}</span>
      <p>Capital: {{$ctrl.country.capital}}</p>
      <p>Largest City: {{$ctrl.country.largest_city}}</p>
      <p>Area (sq.mi.): {{$ctrl.country.area_sq_mi}}</p>
      <p>GDP (total): {{$ctrl.country.gdp.total}}</p>
      <p>GDP (per capita): {{$ctrl.country.gdp.per_capita}}</p>
    </div>
  </div>
</div>
