<section class="card">
  <div class="card-content">
    <span class="card-title">Capture Events (no data)</span>
    <button class="btn" ng-click="$ctrl.increment()">Increment!</button> Count: {{$ctrl.count}}
    <div ng-click="$ctrl.increment()">Also a clickable thing</div>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <span class="card-title">Capture Events with Data</span>
    <input ng-model="$ctrl.inputText"></input>
    <button class="btn" ng-click="$ctrl.setText($ctrl.inputText)">Set Text</button>
    <p>The text is: {{$ctrl.text}}</p>
  </div>
</section>


<section class="card">
  <div class="card-content">
    <span ng-mouseover="$ctrl.increment()">This span responds to mouseover events</span>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <button class="btn" ng-click="$ctrl.myClick( $event )">Click Me</button>
    <button class="btn" ng-mouseenter="$ctrl.thing = 'Entered'; $ctrl.increment()" ng-mouseleave="$ctrl.thing='Left'">Touch Me</button>
    <div>{{ $ctrl.thing }}</div>
  </div>
</section>
