<section class="card">
  <div class="card-content">
    <div class="card-title">Basic Page Component</div>
    <p>This is a simple example component.</p>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <div class="card-title">ng-class sandbox</div>

    <button class="btn btn-floating btn-large" ng-class="{ 'pulse': $ctrl.selectedButton === 'About'}"
      ng-click="$ctrl.selectedButton='About'">About</button>

    <button class="btn btn-floating btn-large" ng-class="{ 'pulse': $ctrl.selectedButton === 'Help'}"
      ng-click="$ctrl.selectedButton='Help'">Help Me!</button>

    <button class="btn btn-floating btn-large pulse" ng-class="$ctrl.selectButton( $ctrl.selectedButton )"
      ng-click="$ctrl.selectedButton = 'FAQ'">FAQ</button>
  </div>
</section>

<section class="card">
  <div class="card-content">
    <div class="card-title">List of Employees</div>
    <div class="row">
      <div class="col s6">
        <label>Search:
          <input ng-model="$ctrl.searchTerm">
        </label>
      </div>
      <div class="col s6">
        <label>Sort by: </label>
        <select ng-model="$ctrl.orderProp">
          <option value=""></option>
          <option value="last_name">Last Name</option>
          <option value="first_name">First Name</option>
        </select>
      </div>
    </div>

    <employee-list employees="$ctrl.employees" search-term="$ctrl.searchTerm" sort-property="$ctrl.orderProp"></employee-list>
  </div>
</section>
