<section class="card">
  <div class="component-marker">
    OrderDetails
  </div>
  <div class="card-content">
    <div ng-if="!$ctrl.sod">Please select order to view details</div>
    <div ng-if="$ctrl.sod" class="card-content">
      <div class="card-title">Details</div>
      <order-header customer-name="$ctrl.sod.customer"></order-header>
      <order-items items="$ctrl.sod.items"></order-items>
    </div>
  </div>
</section>
