<section class="card">
  <div class="card-content">
    <span class="card-title">Country List</span>
    <ul class="collection">
      <li class="collection-item" ng-repeat="country in $ctrl.list">
        {{country}}
      </li>
    </ul>
  </div>
</section>
