<section class="card">
  <div class="card-content">
    <span class="card-title">I am a card</span>
    <p>I consumed your content without displaying it back to the user (see code for details)</p>
  </div>
</section>
