<section class="card">
  <div class="card-content">
    <span class="card-title">Basic Filter Usage - see code for details</span>
    <div ng-bind="'i am in the template in lowercase' | uppercase"></div>
    <div ng-bind="'I AM IN THE TEMPLATE IN UPPERCASE' | lowercase | uppercase | lowercase"></div>
    <div ng-bind="1234567890 | number"></div>
    <pre ng-bind="$ctrl.data | json"></pre>
    <div ng-bind="123 | currency:'$'"></div>
    <div ng-bind="123 | currency:'£'"></div>
    <div>{{ 123 | currency:'€':4 }}</div>
  </div>
</section>

<div class="row">
  <div class="col s4">

    <section class="card">
      <div class="card-content">
        <span class="card-title">Search the Country List</span>
        <label>Search:
          <input id="country_query" ng-model="$ctrl.query">
        </label>
        <div>
          <label for="corder">Sort by: </label>
          <select id="corder" ng-model="$ctrl.orderProp">
            <option value=""></option>
            <option value="countryName">Alphabetical</option>
            <option value="areaInSqKm">Smallest</option>
            <option value="-areaInSqKm">Largest</option>
            <option value="-(population / areaInSqKm)">Densest</option>
          </select>
        </div>
      </div>
    </section>
  </div>
  <div class="col s8">

    <section class="card">
      <div class="card-content">
        <span class="card-title">Country List</span>
        <ul class="collection">
          <li class="collection-item" ng-repeat="country in $ctrl.countries | filter:$ctrl.query | orderBy:$ctrl.orderProp">
            <span><b>{{country.countryName}}</b></span>
            <div>Capital: {{country.capital}}</div>
            <div>Population: {{country.population}}</div>
            <div>Area (sq.km): {{country.areaInSqKm}}</div>
          </li>
        </ul>


        <!--
        Real:       ng-repeat="country in $ctrl.countries | filter:$ctrl.query"
        Understand: ng-repeat="country in ($ctrl.countries | filter:$ctrl.query)"
                    country in filter($ctrl.countries, $ctrl.query)
        -->
      </div>
    </section>

    <section class="card">
      <div class="card-content">
        <span class="card-title">Raw Country Data</span>
        <pre>{{$ctrl.countries | json}}</pre>
      </div>
    </section>
  </div>

</div>
