<div class="row">

  <div class="col s6">
    <section class="card">
      <div class="card-content">
        <div class="card-title">ng-if</div>

        <p>Click the following button 8 times</p>
        <button class="btn" ng-click="$ctrl.increment()">Add One</button>
        <div>clicks: {{$ctrl.n}}</div>

        <div ng-if="$ctrl.n < 7">
          Congratulations! You have clicked {{ $ctrl.n }} times.
        </div>

      </div>
    </section>
  </div>

</div>

<div class="row">

  <div class="col s6">
    <section class="card">
      <div class="card-content">
        <div class="card-title">ng-repeat</div>

        <ul class="collection">
          <li class="collection-item" ng-repeat="task in $ctrl.todos">{{task}}</li>
        </ul>

      </div>
    </section>
  </div>

  <div class="col s6">
    <section class="card">
      <div class="card-content">
        <div class="card-title">ng-repeat with index</div>

        <ul class="collection">
          <li class="collection-item" ng-repeat="task in $ctrl.todos">
            Item {{$index + 1}}: {{task}}
          </li>
        </ul>

      </div>
    </section>
  </div>

</div>

<div class="row">

  <div class="col s6">
    <section class="card">
      <div class="card-content">
        <div class="card-title">Nested ng-repeat</div>

        <ul class="collection">
          <li class="collection-item" ng-repeat="room in $ctrl.rooms">
            {{room.name}}:
            <span ng-repeat="item in room.contents">
              {{item}}
            </span>
          </li>
        </ul>

      </div>
    </section>
  </div>

</div>
