<div class="row">
  <div class="col m4 s12">
    <section class="card">
      <div class="card-content">
        <span class="card-title">Search and Sort Countries</span>
        <label for="search">Search:</label>
        <input id="sort" ng-model="$ctrl.query">
        <label for="sort">Sort By:</label>
        <select ng-model="$ctrl.orderProp">
          <option value=""></option>
          <option value="countryName">Alphabetical</option>
          <option value="areaInSqKm">Smallest</option>
          <option value="-areaInSqKm">Largest</option>
        </select>
      </div>
    </section>
  </div>

  <div class="col m6 s12">

    <section class="card">
      <div class="card-content">
        <span class="card-title">Country List</span>
        <div class="collection ">
          <a ng-href="#!/country/{{c.countryCode}}" ng-repeat="c in $ctrl.countries | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="collection-item avatar">
            <img ng-src="../demo-data/flags/{{c.countryCode | lowercase}}.png" class="circle">            {{c.countryName}}
          </a>
        </div>
      </div>

    </section>
  </div>
</div>
